.mdb_table {
  overflow-x: auto;
  padding-top: 25px !important;
}
[data-test="datatable-entries"] {
  position: sticky;
  left: 0 !important;
}
.delete_image {
  position: absolute;
  top: 9px;
  right: 9px;
  color: red;
  background-color: white;
  padding: 5px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}
